# Qt Creator
*.user
*.pro.user

# Build directories
build/
Build/
out/
install/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake

# Ninja
.ninja_*
build.ninja

# Qt Autogen
*_autogen/

# IDE
.vs/
.vscode/
.idea/

# Logs
*.log